a, p{
    font-family: "Geist", serif;
}


/* Logo */
.logo{
    font-size: 3rem;
    min-height: fit-content;
    color: black;
    font-family: "Lovers Quarrel", serif;
    font-weight: 400;
    font-style: normal;
}

.logo:hover, .anchor-text:hover{
    text-decoration: none;
    color: black;
}

.dropdown-item, .nav-link, .anchor-text{
    color: black;
}


/* Header - Profile */
.display-name{
    font-size: medium;
    font-weight: 100;
    padding: 0.5rem 1rem;
}

/* Index Page */
.background{
    background:url('../media/home-image-off.jpg');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 100px);
    width: 100vw;
}

.main-content{
    min-height: 90vh;
}

.index-title{
    position: relative;
    left: 10vw;
    top: 10vh;
    background-color: #FFBF00;
    padding: 0.5rem;
    width: 60vw;
}

@media screen and (min-width: 768px){
    .background{
        background-position: center top;
    }
}


/* Products List View */
.product-image{
    height: 30vh;
    max-width: 100%;
    border-radius: 8px;
    object-fit: cover;
}


/* Products Detail View */
#detail-image{
    border-radius: 8px;
    height: 70vh;
    object-fit: cover;
}

/* Profile Detail View */
.newsletter-btn{
    height: 30px;
    align-self: flex-end;
    padding: 2px;
}


/* Footer */
footer{
    max-height: 100px;
    bottom: 0px;
    width: 100%;
    background: whitesmoke;
}

.social-link{
    color: black;
    font-size: 1.5rem;
}

/* Toasts */
.message-container{
    position: fixed;
    top: 100px;
    right: 50px;
    z-index: 99;
}

.custom-toast{
    overflow: visible;
}

.toast-runner{
    height: 2px
}