{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block corecss %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    {% endblock %}



    <title>Crafting Covern</title>
</head>
<body>
    <header class="container-fluid bg-light">
        <!-- Logo, Search Bar, Account -->
        <div class="row">
            <div class="col-2 p-3 bg-light">
                <a href="{% url 'home' %}" class="text-decoration-none">Crafting Covern</a>
            </div>
            <div class="col-12 col-lg-8 my-auto justify-content-center">
                <form method="GET" action="{% url 'products_all' %}">
                    <div class="input-group w-100">
                        <input class="form-control" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-2 p-3 bg-light">
                <a href=""></a>
            </div>         
        </div>
        
        <!-- Product Navigation Bar -->
        <nav class="bg-light  col-12">
            <ul class="nav nav-tabs justify-content-center">
                <a class="nav-link" href="{% url 'products_all' %}" role="button" aria-haspopup="true" aria-expanded="false">All Products</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Enchant Your Familair</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'products_all' %}?category=pets,plushies">All Familairs</a>
                        <a class="dropdown-item" href="{% url 'products_all' %}?category=pets">For your pets</a>
                        <a class="dropdown-item" href="{% url 'products_all' %}?category=plushies">Get some plushies</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Charm Your Outfit</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'products_all' %}?category=clothes">All Clothes Products</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Betwitch Your Home</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'products_all' %}?category=home-and-living">All Home Products</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
        <!-- block of content -->
    {% block content %}

    {% endblock content %}

    <footer class="bg-light fixed-bottom">
        <!-- footer -->
        <div class="p-3">footer</div>
    </footer>
    {% block corejs %}
        <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}
</body>
</html>