{% extends "base.html" %}

{% block content %}
<div class="row mt-5">
  <div class="col-5 offset-1">
    <img class="card-img-bottom" src=" {{ product.image.url }}"
    alt="{{ product.name }}">
  </div>
  <div class="col-5">
    <h1>{{ product.name }}</h1>
    <h2>£{{ product.cost }}</h2>
    <p>{{ product.description }}</p>
    <p>{{ product.dimension }}</p>
    {% if profile.is_crafter or profile.is_admin %}
    <a href="{% url 'product_edit' product.id %}">Edit</a>
    <a href="{% url 'product_delete' product.id %}">Delete</a>
    {% endif %}
    <a href="{% url 'checkout_detail' %}">Checkout</a>
  </div>
</div>
{% endblock content %}